body{
    margin: 0 auto;
    background-color: black;
    margin-top: 0;
}

#navbar{
    height:100px;
    width:100%;
    background-color: wheat;
    position:fixed;
    
    top:0px;
    
   
}

#name{
    display:inline-block;
 
   padding:15px;
    margin-left:30px;
    font-size: 55px;

    
}

#Projects{
    display:inline-block;
    float:right;
    padding:15px;
    margin-left:30px;
    margin-right:30px;
    font-size:35px;
    margin-top:10px;
    
}

#About{
    display:inline-block;
    float:right;
    padding:15px;
    margin-left:30px;
    margin-right:30px;
    font-size:35px;
    margin-top:10px;
}


#Contact{
    display:inline-block;
    float:right;
    padding:15px;
    margin-left:30px;
    margin-right:30px;
    margin-top:10px;
    font-size:35px;
}

#welcome-section h1{
    text-align:center;
    font-size:80px;
    color:white;
    margin-top:150px;
}


.projectcontainer{
    display:grid;
    grid-template-columns: 45% 45%;
    justify-content:space-evenly;
    background-color: white;

}

#projectheading{
    text-align:center;
    font-size:50px;
}

#brandhubimg{
    width:50%;
    height:800px;
    display:inline;
    margin-left: 20%;
}

#projectdet{
   
    font-size:40px;
    margin: 20px;
    text-align: center;
    font-family: monospace;

}

#project-tile{
    border: 10px;
    border-style: solid;
}

#about-title{
    font-weight: bold;
    font-size: 40px;
   color:white;
    text-align: center;

}

#project-title{
    font-weight: bold;
    font-size: 40px;
    background-color: white;
    text-align: center;

}


#contact-title{
    font-weight: bold;
    font-size: 40px;
 color: white;
    text-align: center;

}



@media  screen and (max-width:400px) {
    #projectdet{
   
        font-size:20px;
        margin: 10px;
        text-align: center;
        font-family: monospace;
    
    }
    
    
}