body{
    background-color:white;
    display:flex;
    flex-direction:row;
    margin:0px;
}
#navbar{
    border-right: 2px;
    border-bottom:0px;
    border-left:0px;
    border-top: 0px;
    border-color: black;
    border-style: solid;
    background-color: white;
    display:inline;
}

#navbar header h1{
    border-bottom: 1px;
    border-color: black;
    border-style: double;
    border-right: 0px;
    padding:10px;
    margin-bottom: 0px;
    border-left:0px;
    border-top: 0px;

}



.nav-link{
    border-bottom: 1px;
    border-color: black;
    border-style: solid;
    border-right: 0px;
    padding:10px;
    border-left:0px;
    border-top: 0px;
}


.nav-link:hover{
    background-color:yellow;
    
}


#main-doc h1{
    border-right: 0px;
    border-bottom:2px;
    border-left:0px;
    border-top: 0px;
    padding: 10px;
    border-color: black;
    border-style: solid;
    background-color: white;
    
}


#main-doc section header{
    font-size:20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px;
    border-left:0px;
    border-right:0px;
    border-top: 0px;
    padding:10px;
 
}

#main-doc section p{
    padding:0px 10px 10px 10px;
}



@media screen and (max-width:400px){
    #navbar header{
        font-size: 7px;;
    }
}